{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Joasia i Bartek"|trans %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>{{'contact'|trans}}</h1>
    </div>

    <!-- Example row of columns -->
    <div class="row main-content">
        <div class="span6">
            <div class="well well-large">
                <h2>Joasia</h2>
                <ul>
                    <li>{{ 'phone'|trans }}:</li>
                    <li>email:</li>
                </ul>
            </div>
        </div>
        <div class="span6 ">
            <div class="well well-large">
                <h2>Bartek</h2>
                <ul>
                    <li>tel</li>
                    <li>email</li>
                </ul>
            </div>
       </div>
    </div>
{% endblock %}
