{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Joasia i Bartek" %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Joasia & Bartek</h1><br/>
        <p>{{ 'motto'|trans }} </p>

    </div>

    <!-- Example row of columns -->
    <div class="row main-content">
        <div class="span4">
            <div class="well well-large">
                {{ 'index-first-container'|trans|raw }}
            </div>
        </div>
        <div class="span4 ">
            <div class="well well-large">
                {{ 'index-second-container'|trans|raw }}
            </div>
       </div>
        <div class="span4">
            <div class="well well-large">
                {{ 'index-third-container'|trans({'%registration_link%': path('registration') })|raw}}
            </div>
        </div>
    </div>
{% endblock %}
