{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Joasia i Bartek" %}

{% block content %}
    <div class="hero-unit">
        <h1>{{ 'place-title'|trans }}</h1>
    </div>
    <div class="row main-content">
        <div class="span6">
            <div class="well well-large">
                {{ 'place-text'|trans|raw }}
            </div>
        </div>
        <div class="span6">
            <div class="well well-large">       
            <iframe width="519" height="231" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=usc+gdynia&amp;aq=&amp;sll=54.503825,18.463479&amp;sspn=0.32733,0.926971&amp;ie=UTF8&amp;hq=usc&amp;hnear=Gdynia,+Pomeranian+Voivodeship,+Poland&amp;t=m&amp;cid=12250444364438072392&amp;ll=54.509124,18.539429&amp;spn=0.184174,0.711365&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=usc+gdynia&amp;aq=&amp;sll=54.503825,18.463479&amp;sspn=0.32733,0.926971&amp;ie=UTF8&amp;hq=usc&amp;hnear=Gdynia,+Pomeranian+Voivodeship,+Poland&amp;t=m&amp;cid=12250444364438072392&amp;ll=54.509124,18.539429&amp;spn=0.184174,0.711365&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
    </div>
    
{% endblock %}
