{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Joasia i Bartek - rejestracja" %}

{% block content %}
    <div class="hero-unit">
        <h1>Rejestracja</h1>
    </div>
    <div class="row main-content">
       <div class="span12">
            <div class="well well-large">
                <h2>Dziekujemy za wypelnienie formularza rejetracyjnego!</h2>
            </div>
        </div>
    </div>
{% endblock %}