{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Joasia i Bartek - rejestracja" %}

{% block content %}
    <div class="hero-unit">
        <h1>Rejestracja</h1>
    </div>
    <div class="row main-content">
       <div class="span12">
            <div class="well well-large">
                {{ 'rejetracja-text'|trans({'%guest%': guest})|raw }}
                <p>
                    <form method="post">
                        {{ form_widget(form) }}
                        <br/>
                        <input class="btn btn-large" type="submit" value="submit"/>
                    </form>
                </p>
            </div>
        </div>
{% endblock %}